body{
    background-color: darkcyan;
}
form{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    left: 35%;
    top: 10%;
    border: 2px solid black;
    padding: 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.imgChoice{
    height: 100px;
    width: 100px;
    border: 3px cadetblue solid;
    border-radius: 10%;
    margin: 2px;
}
.scoreContainer{
    margin: 10px;
    padding: 3px;
    width: 100px;
    height: 25px;
    border: 2px solid cadetblue;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    
}
#scoreContainer{
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: center;
    
}
#opponentChoice{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;    
}
#playerChoice{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#buttonContainer{
    width: 33%;
    display: flex;
    justify-content: center;

}
#scoreBoard{
    border: 2px solid black;
    width: 20%;
    height: 40%;
    position: absolute;
    bottom: 1%;
    right: 1%;
}
#reset{
    border: 2px solid black;
    position: absolute;
    bottom: 1%;
    left: 1%;
    background-color: rgba(240, 248, 255, 0);
}